@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#home {
  height: 100vh;
  width: 100%;
}
#home .home-menu {
  height: 7vh;
  width: 100%;
  background-color: #363940;
  position: fixed;
  z-index: 8999;
}
#home .home-menu .container {
  display: flex;
  height: 7vh;
  justify-content: space-between;
}
#home .home-menu .container .home-menu-logo {
  height: 100%;
  width: 300px;
  background-image: url(./img/logo.png);
  background-position: center;
  background-repeat: no-repeat;
}
#home .home-menu .container .home-menu-btns {
  width: 48%;
  display: flex;
  align-items: center;
}
#home .home-menu .container .home-menu-btns li {
  list-style: none;
  display: flex;
  margin-right: 20px;
}
#home .home-menu .container .home-menu-btns li a {
  text-decoration: none;
  color: #A9A9A9;
  font-size: 14px;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  font-weight: 900;
}
#home .home-main {
  height: 100vh;
  background-image: url(./img/slider-bg.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
#home .home-main .container.main {
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#home .home-main .container.main .slider.active .slider-text .slider-text-one {
  transition: all 0.5s ease;
  transform: translateX(-1000px);
}
#home .home-main .container.main .slider.active .slider-text .slider-text-two {
  transition: all 0.5s ease;
  transform: translateX(0px);
}
#home .home-main .container.main .slider.active .slider-btn .scroll-1 {
  border: 4px solid rgb(173, 173, 173);
  height: 15px;
  width: 15px;
  transition: all 0.5s ease;
}
#home .home-main .container.main .slider.active .slider-btn .scroll-2 {
  width: 17px;
  height: 17px;
  border: 4px solid white;
  transition: all 0.5s ease;
}
#home .home-main .container.main .slider.active.show .slider-text .slider-text-one {
  transform: translateX(-2000px);
  transition: all 0.5s ease;
}
#home .home-main .container.main .slider.active.show .slider-text .slider-text-two {
  transition: all 0.5s ease;
  transform: translateX(-1000px);
}
#home .home-main .container.main .slider.active.show .slider-text .slider-text-three {
  transition: all 0.5s ease;
  transform: translateX(0px);
}
#home .home-main .container.main .slider.active.show .slider-btn .scroll-1 {
  border: 4px solid rgb(173, 173, 173);
  height: 15px;
  width: 15px;
  transition: all 0.5s ease;
}
#home .home-main .container.main .slider.active.show .slider-btn .scroll-2 {
  width: 15px;
  height: 15px;
  border: 4px solid rgb(173, 173, 173);
  transition: all 0.5s ease;
}
#home .home-main .container.main .slider.active.show .slider-btn .scroll-3 {
  height: 17px;
  width: 17px;
  border: 4px solid white;
  transition: all 0.5s ease;
}
#home .home-main .container.main .slider {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 500px;
  width: 90%;
}
#home .home-main .container.main .slider .slider-text {
  width: 100%;
  height: 200px;
  display: flex;
  position: relative;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}
#home .home-main .container.main .slider .slider-text .slider-text-one {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: translateX(0);
  transition: transform 0.5s ease;
}
#home .home-main .container.main .slider .slider-text .slider-text-one h1 {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 60px;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  font-weight: bold;
}
#home .home-main .container.main .slider .slider-text .slider-text-one p {
  font-size: 16px;
  letter-spacing: 2px;
  margin-bottom: 40px;
}
#home .home-main .container.main .slider .slider-text .slider-text-one .btn {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  text-align: center;
  color: #363940;
  vertical-align: #363940;
}
#home .home-main .container.main .slider .slider-text .slider-text-one .btn:hover {
  text-decoration: none;
}
#home .home-main .container.main .slider .slider-text .slider-text-one .btn-blank {
  border: 2px solid #fff;
  color: #fff;
  padding: 8px 12px;
  display: inline-block;
  letter-spacing: 1.5px;
  border-radius: 0px;
  position: relative;
  transition: 0.3s;
  outline: none;
  z-index: 1;
}
#home .home-main .container.main .slider .slider-text .slider-text-one .btn-blank:hover {
  color: #333;
}
#home .home-main .container.main .slider .slider-text .slider-text-one .btn-blank::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  background-color: #fff;
  z-index: -1;
  transition: 0.3s;
}
#home .home-main .container.main .slider .slider-text .slider-text-one .btn-blank:hover::before {
  height: 100%;
}
#home .home-main .container.main .slider .slider-text .slider-text-two {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: translateX(1200px);
  position: absolute;
  transition: transform 0.5s ease;
}
#home .home-main .container.main .slider .slider-text .slider-text-two h1 {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 60px;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  font-weight: bold;
}
#home .home-main .container.main .slider .slider-text .slider-text-two p {
  font-size: 16px;
  letter-spacing: 2px;
  margin-bottom: 40px;
}
#home .home-main .container.main .slider .slider-text .slider-text-two .btn {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  text-align: center;
  color: #363940;
  vertical-align: #363940;
}
#home .home-main .container.main .slider .slider-text .slider-text-two .btn:hover {
  text-decoration: none;
}
#home .home-main .container.main .slider .slider-text .slider-text-two .btn-blank {
  border: 2px solid #fff;
  color: #fff;
  padding: 8px 12px;
  display: inline-block;
  letter-spacing: 1.5px;
  border-radius: 0px;
  position: relative;
  transition: 0.3s;
  outline: none;
  z-index: 1;
}
#home .home-main .container.main .slider .slider-text .slider-text-two .btn-blank:hover {
  color: #333;
}
#home .home-main .container.main .slider .slider-text .slider-text-two .btn-blank::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  background-color: #fff;
  z-index: -1;
  transition: 0.3s;
}
#home .home-main .container.main .slider .slider-text .slider-text-two .btn-blank:hover::before {
  height: 100%;
}
#home .home-main .container.main .slider .slider-text .slider-text-three {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: translateX(1500px);
  position: absolute;
  transition: transform 0.5s ease;
}
#home .home-main .container.main .slider .slider-text .slider-text-three h1 {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 60px;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  font-weight: bold;
}
#home .home-main .container.main .slider .slider-text .slider-text-three p {
  font-size: 16px;
  letter-spacing: 2px;
  margin-bottom: 40px;
}
#home .home-main .container.main .slider .slider-text .slider-text-three .btn {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  text-align: center;
  color: #363940;
  vertical-align: #363940;
}
#home .home-main .container.main .slider .slider-text .slider-text-three .btn:hover {
  text-decoration: none;
}
#home .home-main .container.main .slider .slider-text .slider-text-three .btn-blank {
  border: 2px solid #fff;
  color: #fff;
  padding: 8px 12px;
  display: inline-block;
  letter-spacing: 1.5px;
  border-radius: 0px;
  position: relative;
  transition: 0.3s;
  outline: none;
  z-index: 1;
}
#home .home-main .container.main .slider .slider-text .slider-text-three .btn-blank:hover {
  color: #333;
}
#home .home-main .container.main .slider .slider-text .slider-text-three .btn-blank::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  background-color: #fff;
  z-index: -1;
  transition: 0.3s;
}
#home .home-main .container.main .slider .slider-text .slider-text-three .btn-blank:hover::before {
  height: 100%;
}
#home .home-main .container.main .slider .slider-btn {
  width: 80px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#home .home-main .container.main .slider .slider-btn .scroll-1 {
  width: 17px;
  height: 17px;
  border: 4px solid white;
  transform: rotate(45deg);
  transition: all 0.5s ease;
  cursor: pointer;
}
#home .home-main .container.main .slider .slider-btn .scroll-2 {
  width: 15px;
  height: 15px;
  border: 4px solid rgb(173, 173, 173);
  transform: rotate(45deg);
  transition: all 0.5s ease;
  cursor: pointer;
}
#home .home-main .container.main .slider .slider-btn .scroll-3 {
  width: 15px;
  height: 15px;
  border: 4px solid rgb(173, 173, 173);
  transform: rotate(45deg);
  transition: all 0.5s ease;
  cursor: pointer;
}

#about {
  padding: 30px 0px;
  min-height: 72vh;
}
#about .about-header {
  width: 100%;
  height: 157px;
}
#about .about-header .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #333;
}
#about .about-header .container h2 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1.2px;
  margin-bottom: 10px;
}
#about .about-header .container .about-header-img {
  height: 23px;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#about .about-header .container p {
  margin-top: 5px;
  font-size: 14px;
  letter-spacing: 1.2px;
}
#about .about-info {
  width: 100%;
  height: 178.2px;
}
#about .about-info .container .row {
  display: flex;
  justify-content: center;
  align-items: center;
}
#about .about-info .container .row .page {
  width: 290px;
  height: 100%;
  padding: 0px 15px;
  height: 100%;
  text-decoration: none;
}
#about .about-info .container .row .page .rotate-info {
  display: flex;
  padding: 15px 0;
  justify-content: space-between;
  text-decoration: none;
}
#about .about-info .container .row .page .rotate-info:hover .rotate-box-icon {
  transform: rotate(-1deg);
}
#about .about-info .container .row .page .rotate-info:hover .rotate-box-icon .rotate-icon i {
  transform: rotate(-1deg);
}
#about .about-info .container .row .page .rotate-info .rotate-box-icon {
  width: 45px;
  height: 45px;
  border: 4px solid #363940;
  transform: rotate(45deg);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: 0.18s;
}
#about .about-info .container .row .page .rotate-info .rotate-box-icon .rotate-icon {
  width: 33px;
  height: 33px;
  background-color: #363940;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
#about .about-info .container .row .page .rotate-info .rotate-box-icon .rotate-icon i {
  transform: rotate(-45deg);
  color: #fff;
  text-decoration: none;
  transition: 0.18s;
}
#about .about-info .container .row .page .rotate-info .rotate-box-info {
  width: 190px;
  color: #363940;
}
#about .about-info .container .row .page .rotate-info .rotate-box-info h4 {
  font-size: 22px;
  margin-bottom: 10px;
}
#about .about-info .container .row .page .rotate-info .rotate-box-info p {
  font-size: 14px;
}
#about .big-space {
  width: 100%;
  height: 40px;
}
#about .about-text {
  height: 84px;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 22px;
}
#about .about-text .col-12 {
  display: flex;
  justify-content: center;
  align-items: center;
}
#about .about-text .col-12 h4 {
  margin-bottom: 10px;
}
#about .our-skills {
  height: 141px;
  width: 100%;
}
#about .our-skills .container .row {
  display: flex;
  justify-content: center;
  align-items: center;
}
#about .our-skills .container .row .col-sm-6 {
  width: 585px;
  height: 70px;
}
#about .our-skills .container .row .col-sm-6 .progres {
  width: 555px;
  height: 50px;
}
#about .our-skills .container .row .col-sm-6 .progres .progres-text h6 {
  font-size: 14px;
  margin-bottom: 10px;
  letter-spacing: 2px;
  font-weight: 700;
}
#about .our-skills .container .row .col-sm-6 .progres .progress {
  border: 3px solid #363940;
  border-radius: 0px;
  background-color: transparent;
  height: 25px;
  margin-bottom: 20px;
  box-shadow: none;
  overflow: visible;
}
#about .our-skills .container .row .col-sm-6 .progres .progress .progress-bar {
  background-color: #676d75;
}

#download {
  width: 100%;
  height: 242px;
  padding-top: 70px;
  padding-bottom: 80px;
  background: #F8F8F8 url(/img/pat-bg.png);
}
#download .down {
  width: 100%;
  height: 92px;
}
#download .down .container .row {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
}
#download .down .container .row .col-md-9 {
  height: 92px;
  width: 877px;
}
#download .down .container .row .col-md-9 h1 {
  font-size: 36px;
  margin-bottom: 10px;
}
#download .down .container .row .col-md-9 p {
  font-size: 14px;
  margin-bottom: 0;
}
#download .down .container .row .col-md-3 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  height: 74px;
  width: 292px;
}
#download .down .container .row .col-md-3 a {
  padding: 10px 40px;
  border-radius: 0px;
  background-color: #363940;
  color: white;
  transition: 1s;
}
#download .down .container .row .col-md-3 a:hover {
  background-color: #676d75;
}

#services {
  height: 67.5vh;
  padding: 50px 0px;
}
#services .services-header {
  height: 30%;
}
#services .services-header h2 {
  text-transform: uppercase;
  font-size: 30px;
  margin-bottom: 10px;
}
#services .services-header .devider {
  height: 23px;
  width: 100%;
  background-image: url(./img/devider.png);
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 5px;
  margin-bottom: 10px;
}
#services .services-header p {
  font-size: 14px;
  margin-top: 10px;
}
#services .services-cards {
  height: 70%;
}
#services .services-cards .container .row {
  width: 90%;
  height: 30vh;
  margin: 0 auto;
}
#services .services-cards .container .row .rotate-card {
  height: 100%;
  padding: 30px 0px;
}
#services .services-cards .container .row .rotate-card a {
  text-decoration: none;
  color: #363940;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#services .services-cards .container .row .rotate-card a:hover .rotate-box-icon {
  transform: rotate(-1deg);
}
#services .services-cards .container .row .rotate-card a:hover .rotate-box-icon .rotate-line i {
  transform: rotate(-1deg);
}
#services .services-cards .container .row .rotate-card a .rotate-box-icon {
  height: 75px;
  width: 75px;
  border: 3px solid #363940;
  transform: rotate(45deg);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  transition: 0.18s;
}
#services .services-cards .container .row .rotate-card a .rotate-box-icon .rotate-line {
  width: 65px;
  height: 65px;
  background-color: #363940;
  display: flex;
  justify-content: center;
  align-items: center;
}
#services .services-cards .container .row .rotate-card a .rotate-box-icon .rotate-line i {
  font-size: 30px;
  color: #fff;
  transform: rotate(-45deg);
  transition: 0.18s;
}
#services .services-cards .container .row .rotate-card a .rotate-box-info {
  margin-top: 15px;
}
#services .services-cards .container .row .rotate-card a .rotate-box-info h4 {
  font-size: 22px;
  margin-bottom: 10px;
}
#services .services-cards .container .row .rotate-card a .rotate-box-info p {
  font-size: 14px;
  margin-bottom: 0px;
  margin-top: 20px;
}
#services .services-cards .container .big-space {
  width: 100%;
  height: 40px;
}
#services .services-cards .container .large-btn {
  height: 48px;
  width: 100%;
}
#services .services-cards .container .large-btn a {
  background-color: #363940;
  color: #fff;
  padding: 10px 80px;
  border-radius: 0px;
  font-size: 20px;
  transition: 1s;
}
#services .services-cards .container .large-btn a:hover {
  background-color: #676d75;
}

#testimonial {
  min-height: 47.5vh;
  border: 1px solid #363940;
  color: black;
  background-image: url(./img/testimonial-bg.jpg);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: -2;
}
#testimonial .testimonial-trigger {
  height: 100%;
  width: 100%;
  padding: 80px 0;
}
#testimonial .testimonial-trigger .cover {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 7, 11, 0.87);
  left: 0;
  top: 0;
  z-index: -1;
}
#testimonial .testimonial-trigger .page-header-wrapper {
  height: 16.4vh;
  width: 100%;
  z-index: 99;
}
#testimonial .testimonial-trigger .page-header-wrapper .container .page-header {
  width: 100%;
  margin-bottom: 60px;
}
#testimonial .testimonial-trigger .page-header-wrapper .container .page-header h2 {
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #fff;
}
#testimonial .testimonial-trigger .page-header-wrapper .container .page-header .devider {
  height: 23px;
  width: 100%;
  background-image: url(./img/devider.png);
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 5px;
  margin-bottom: 10px;
}
#testimonial .testimonial-trigger .page-header-wrapper .container .page-header p {
  margin-top: 10px;
  font-size: 14px;
}
#testimonial .testimonial-trigger .container .testomonial-inner {
  max-width: 800px;
  margin: 0 auto;
  height: 14.8vh;
}
#testimonial .testimonial-trigger .container .testomonial-inner .testomonial-carousel {
  width: 100%;
  height: 100%;
}
#testimonial .testimonial-trigger .container .testomonial-inner .testomonial-carousel .testomonial-slider.active2 .testomonial-slider-text .slider-text-one {
  transform: translateX(-800px);
  transition: all 0.5s ease;
}
#testimonial .testimonial-trigger .container .testomonial-inner .testomonial-carousel .testomonial-slider.active2 .testomonial-slider-text .slider-text-two {
  transform: translateX(0px);
  transition: all 0.5s ease;
}
#testimonial .testimonial-trigger .container .testomonial-inner .testomonial-carousel .testomonial-slider.active2 .testomonial-slider-text .slider-text-three {
  transform: translateX(800px);
  transition: all 0.5s ease;
}
#testimonial .testimonial-trigger .container .testomonial-inner .testomonial-carousel .testomonial-slider.active2 .testomonial-slider-text .sliders-btn .scroll-one {
  border: 3px solid rgb(170, 170, 170);
}
#testimonial .testimonial-trigger .container .testomonial-inner .testomonial-carousel .testomonial-slider.active2 .testomonial-slider-text .sliders-btn .scroll-two {
  border: 3px solid white;
}
#testimonial .testimonial-trigger .container .testomonial-inner .testomonial-carousel .testomonial-slider.active2.show2 .testomonial-slider-text .slider-text-one {
  transform: translateX(-1600px);
  transition: all 0.5s ease;
}
#testimonial .testimonial-trigger .container .testomonial-inner .testomonial-carousel .testomonial-slider.active2.show2 .testomonial-slider-text .slider-text-two {
  transform: translateX(-800px);
  transition: all 0.5s ease;
}
#testimonial .testimonial-trigger .container .testomonial-inner .testomonial-carousel .testomonial-slider.active2.show2 .testomonial-slider-text .slider-text-three {
  height: 126px;
  transform: translateX(0px);
  transition: all 0.5s ease;
}
#testimonial .testimonial-trigger .container .testomonial-inner .testomonial-carousel .testomonial-slider.active2.show2 .testomonial-slider-text .sliders-btn .scroll-two {
  border: 3px solid rgb(170, 170, 170);
}
#testimonial .testimonial-trigger .container .testomonial-inner .testomonial-carousel .testomonial-slider.active2.show2 .testomonial-slider-text .sliders-btn .scroll-three {
  border: 3px solid white;
}
#testimonial .testimonial-trigger .container .testomonial-inner .testomonial-carousel .testomonial-slider {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#testimonial .testimonial-trigger .container .testomonial-inner .testomonial-carousel .testomonial-slider .testomonial-slider-text {
  height: 86px;
  display: flex;
  position: relative;
  overflow: hidden;
}
#testimonial .testimonial-trigger .container .testomonial-inner .testomonial-carousel .testomonial-slider .testomonial-slider-text .slider-text-one {
  transform: translateX(0);
  width: 800px;
  transition: all 0.5s ease;
}
#testimonial .testimonial-trigger .container .testomonial-inner .testomonial-carousel .testomonial-slider .testomonial-slider-text .slider-text-one p {
  font-size: 14px;
  letter-spacing: 2px;
  padding-bottom: 20px;
  margin-bottom: 0;
  color: #fff;
}
#testimonial .testimonial-trigger .container .testomonial-inner .testomonial-carousel .testomonial-slider .testomonial-slider-text .slider-text-one h4 {
  font-size: 16.8px;
  font-style: normal;
  color: #fff;
}
#testimonial .testimonial-trigger .container .testomonial-inner .testomonial-carousel .testomonial-slider .testomonial-slider-text .slider-text-two {
  position: absolute;
  transform: translateX(800px);
  width: 800px;
  transition: all 0.5s ease;
}
#testimonial .testimonial-trigger .container .testomonial-inner .testomonial-carousel .testomonial-slider .testomonial-slider-text .slider-text-two p {
  font-size: 14px;
  letter-spacing: 2px;
  padding-bottom: 20px;
  margin-bottom: 0;
  color: #fff;
}
#testimonial .testimonial-trigger .container .testomonial-inner .testomonial-carousel .testomonial-slider .testomonial-slider-text .slider-text-two h4 {
  font-size: 16.8px;
  font-style: normal;
  color: #fff;
}
#testimonial .testimonial-trigger .container .testomonial-inner .testomonial-carousel .testomonial-slider .testomonial-slider-text .slider-text-three {
  position: absolute;
  transform: translateX(1600px);
  width: 800px;
  transition: all 0.5s ease;
}
#testimonial .testimonial-trigger .container .testomonial-inner .testomonial-carousel .testomonial-slider .testomonial-slider-text .slider-text-three p {
  font-size: 14px;
  letter-spacing: 2px;
  padding-bottom: 20px;
  margin-bottom: 0;
  color: #fff;
}
#testimonial .testimonial-trigger .container .testomonial-inner .testomonial-carousel .testomonial-slider .testomonial-slider-text .slider-text-three h4 {
  font-size: 16.8px;
  font-style: normal;
  color: #fff;
}
#testimonial .testimonial-trigger .container .testomonial-inner .testomonial-carousel .testomonial-slider .sliders-btn {
  height: 26px;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60px;
}
#testimonial .testimonial-trigger .container .testomonial-inner .testomonial-carousel .testomonial-slider .sliders-btn .scroll-one {
  width: 13px;
  height: 13px;
  border: 3px solid white;
  transform: rotate(45deg);
  transition: all 0.5s ease;
  cursor: pointer;
}
#testimonial .testimonial-trigger .container .testomonial-inner .testomonial-carousel .testomonial-slider .sliders-btn .scroll-two {
  width: 13px;
  height: 13px;
  border: 3px solid rgb(173, 173, 173);
  transform: rotate(45deg);
  transition: all 0.5s ease;
  cursor: pointer;
}
#testimonial .testimonial-trigger .container .testomonial-inner .testomonial-carousel .testomonial-slider .sliders-btn .scroll-three {
  width: 13px;
  height: 13px;
  border: 3px solid rgb(173, 173, 173);
  transform: rotate(45deg);
  transition: all 0.5s ease;
  cursor: pointer;
}

#portfolio-section {
  height: 1543px;
  width: 100%;
  padding: 40px 0 60px 0;
}
#portfolio-section .container .row .col-md-12 {
  padding: 0px 15px;
  height: 1444px;
}
#portfolio-section .container .row .col-md-12 .portfolio .page-header-wrapper .container {
  border: 1px solid black;
  width: 100%;
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#portfolio-section .container .row .col-md-12 .portfolio .page-header-wrapper .container h2 {
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #363940;
}
#portfolio-section .container .row .col-md-12 .portfolio .page-header-wrapper .container .devider {
  height: 23px;
  width: 100%;
  background-image: url(./img/devider.png);
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 5px;
  margin-bottom: 10px;
}
#portfolio-section .container .row .col-md-12 .portfolio .page-header-wrapper .container p {
  margin-top: 10px;
  font-size: 14px;
  letter-spacing: 2px;
}
#portfolio-section .container .row .col-md-12 .portfolio .portfolio-content-area {
  height: 1306px;
}
#portfolio-section .container .row .col-md-12 .portfolio .portfolio-content-area .portfolio-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 22px;
  margin-bottom: 48px;
  text-align: center;
  overflow: hidden;
}
#portfolio-section .container .row .col-md-12 .portfolio .portfolio-content-area .portfolio-menu ul {
  list-style: none outside none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
#portfolio-section .container .row .col-md-12 .portfolio .portfolio-content-area .portfolio-menu ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}
#portfolio-section .container .row .col-md-12 .portfolio .portfolio-content-area .portfolio-menu ul li:nth-child(1) a {
  background-color: #363940;
  color: #fff;
}
#portfolio-section .container .row .col-md-12 .portfolio .portfolio-content-area .portfolio-menu ul li a {
  padding: 4px 10px;
  border-radius: 0;
  text-decoration: none;
  text-transform: uppercase;
  color: #363940;
  margin: 4px;
  background-color: transparent;
}
#portfolio-section .container .row .col-md-12 .portfolio .portfolio-content-area .potfolio-content {
  height: 1178px;
  overflow: hidden;
  margin-top: 38px;
}
#portfolio-section .container .row .col-md-12 .portfolio .portfolio-content-area .potfolio-content .row {
  height: 1178px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#portfolio-section .container .row .col-md-12 .portfolio .portfolio-content-area .potfolio-content .row .col-xs-12.col-sm-4 {
  padding: 0px 15px;
  width: 390px;
  height: 392px;
}
#portfolio-section .container .row .col-md-12 .portfolio .portfolio-content-area .potfolio-content .row .col-xs-12.col-sm-4 .portfolio-content-img {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  margin-bottom: 30px;
  overflow: hidden;
  height: 360px;
  width: 360px;
}
#portfolio-section .container .row .col-md-12 .portfolio .portfolio-content-area .potfolio-content .row .col-xs-12.col-sm-4 .portfolio-content-img img {
  height: 360px;
  width: 360px;
}/*# sourceMappingURL=style.css.map */